/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@font-face {
  font-family: 'AvantGardeGothic';
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/AvantGardeGothicC-regular.otf") format("opentype"); }

@font-face {
  font-family: 'AvantGardeGothic';
  font-weight: bold;
  font-style: normal;
  src: url("../../fonts/AvantGardeGothicC-bold.otf") format("opentype"); }

@font-face {
  font-family: 'AvantGardeGothic';
  font-weight: normal;
  font-style: italic;
  src: url("../../fonts/AvantGardeGothicC-italic.otf") format("opentype"); }

@font-face {
  font-family: 'AvantGardeGothic';
  font-weight: bold;
  font-style: italic;
  src: url("../../fonts/AvantGardeGothicC-bold-italic.otf") format("opentype"); }

body {
  font: normal normal 14px/18px "AvantGardeGothic", sans-serif;
  color: #557276; }

.container {
  max-width: 1240px;
  margin: auto;
  padding: 30px; }

a {
  color: #557276;
  text-decoration: none; }

a:hover, a:focus {
  text-decoration: none;
  color: #076290; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.btn-normal, .header.expanded .demo-link, .header.collapsed .demo-link {
  font-size: 12px;
  margin: 10px 0;
  padding: 5px 25px;
  text-transform: uppercase;
  color: #557276;
  border: 2px solid #557276;
  border-radius: 20px; }

.btn-normal:hover, .header.expanded .demo-link:hover, .header.collapsed .demo-link:hover {
  color: #076290;
  border-color: #076290; }

.btn-normal:active, .header.expanded .demo-link:active, .header.collapsed .demo-link:active, .btn-normal:focus, .header.expanded .demo-link:focus, .header.collapsed .demo-link:focus {
  text-decoration: none;
  color: #fff;
  border-color: #076290;
  outline: none;
  background: #076290; }

.select {
  position: relative;
  width: 100px;
  margin: auto; }

.select:hover {
  cursor: pointer; }

.select input {
  position: absolute;
  left: -9999px; }

.toggle + label {
  font-weight: normal;
  position: relative;
  z-index: 2;
  display: block;
  width: 100px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  text-align: center;
  text-indent: 5px; }

.toggle + label:hover {
  cursor: pointer; }

.toggle + label i {
  display: block;
  margin: 5px auto 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  -webkit-transform: rotate(0deg);
  background-image: url(images/sprite.png);
  background-position: -442px -208px;
  width: 23px;
  height: 15px; }

.toggle:checked + label i {
  z-index: 5;
  margin-top: 35px;
  -webkit-transform: rotate(180deg); }

.select ul {
  position: relative;
  z-index: 50;
  overflow: hidden;
  max-height: 0;
  margin: 0;
  list-style: none;
  -webkit-transition: all 700ms linear;
  transition: all 700ms linear;
  text-align: center; }

.toggle:checked ~ ul {
  max-height: 1000px;
  margin-top: -50%; }

.select-option label {
  font-weight: normal;
  display: block;
  padding: 5px;
  cursor: pointer;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  color: #fff;
  background: #076290; }

.select-option label:hover {
  color: #fff;
  background: #557276; }

.select-option label:active {
  outline: none;
  background: #0873a8; }

.header {
  margin-bottom: 20px; }

.header.expanded {
  position: relative; }

.header.expanded .nav-close-icon {
  display: block;
  margin: 0 auto 15px;
  background-image: url(images/sprite.png);
  background-position: -418px -255px;
  width: 49px;
  height: 49px; }

.header.expanded .nav-close-icon:hover {
  background-image: url(images/sprite.png);
  background-position: -369px -255px;
  width: 49px;
  height: 49px; }

.header.expanded .nav-close-icon:active, .header.expanded .nav-close-icon:focus {
  background-image: url(images/sprite.png);
  background-position: -265px -131px;
  width: 49px;
  height: 49px; }

.header.expanded .nav-menu-icon {
  display: none;
  background-image: url(images/sprite.png);
  background-position: -369px -208px;
  width: 73px;
  height: 47px; }

.header.expanded .nav .nav-list {
  font: normal normal 16px/32px "AvantGardeGothic", sans-serif;
  margin-bottom: 20px; }

.header.expanded .nav .nav-list-item {
  text-align: center;
  text-transform: uppercase; }

.header.expanded .logo {
  display: none; }

.header.expanded .demo {
  text-align: center; }

.header.expanded .demo-link {
  display: inline-block; }

.header.collapsed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: justify;
      align-content: space-between; }

.header.collapsed .nav, .header.collapsed .logo, .header.collapsed .demo {
  width: 33.33%; }

.header.collapsed .nav-menu-icon {
  display: block;
  background-image: url(images/sprite.png);
  background-position: -369px -208px;
  width: 73px;
  height: 47px; }

.header.collapsed .nav-list {
  display: none; }

.header.collapsed .logo {
  display: inline-block;
  text-align: center; }

.header.collapsed .demo {
  text-align: right; }

.header.collapsed .demo-link {
  display: inline-block;
  text-align: center; }

.header.collapsed .nav-select {
  display: none; }

/*# sourceMappingURL=maps/styles.css.map */
